<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions for internet, reading and writing external storage -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AIQuizGenerator"
        tools:targetApi="31">

        <!-- MAIN LAUNCHER ACTIVITY -->
        <activity
            android:name=".QuizGeneratorActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Additional app activities -->
        <activity android:name=".GenerateQuiz" android:exported="false" />
        <activity android:name=".DocumentSummarizer" android:exported="false" />
        <activity android:name=".DocumentToText" android:exported="false" />
        <activity android:name=".OutputTextActivity" android:exported="false" />
        <activity android:name=".FrontPage" android:exported="false" />

    </application>
</manifest>
